.custom-errors-container {
  background-color: #F18F01;
  padding: 12px;
  padding-left: 18px;
  border-radius: 8px;
  margin-bottom: 24px;

  .error-message {
    margin: 0;
    margin-bottom: 8px;
    color: white;
    font-weight: 300;
    display: list-item;
    margin-left: 16px;
  }
}