.auth-form-container {
  width: 380px;
  margin-top: 38px;
  margin-bottom: 32px;

  .auth-text-container {
    margin-bottom: 24px;

    .auth-heading {
      color: white;
      font-size: 30px;
      display: block;
      font-weight: 500;
      margin-bottom: 12px;
    }

    .auth-text {
      color: rgb(211, 211, 211);
      font-weight: 200;
    }
  }

  .custom-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .custom-btn {
      margin-top: 12px;
    }
  }
}